<!DOCTYPE html>
<html lang="sv">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preload" href="https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/admin.css">

    <link rel="apple-touch-icon" sizes="180x180" href="/resources/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/icons/favicon-16x16.png">
    <link rel="manifest" href="/resources/icons/site.webmanifest">
    <link rel="mask-icon" href="/resources/icons/safari-pinned-tab.svg" color="#98114c">
    <link rel="shortcut icon" href="/resources/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#00aba9">
    <meta name="msapplication-config" content="/resources/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <title><%=title%></title>
    <% if(typeof styles !== "undefined") { %>
        <% styles.forEach(style => { %>
            <link rel="stylesheet" href="/styles/<%=style%>.css">
        <%}) %>
    <% } %>
    <% if(typeof scripts !== "undefined") { %>
        <% scripts.forEach(script => { %>
            <% if(typeof script === "string") { %>
                <script defer src="/scripts/<%=script%>.js"></script>
            <% } else { %>
                <script defer src="/scripts/<%=script.name%>.js" type="<%=script.type%>"></script>
            <% } %>
        <% }) %>
    <% } %>
    <script defer src="/scripts/script.js"></script>

</head>
<body>
    <header>
        <div class="adminHeader">
            <a href="/administrera">Till adminsidan</a>
            <a href="/administrera/logout">Logga ut</a>
        </div>
        <a href="/" class="LogoLink">
            <img src="/resources/logo.svg" alt="Logo" width="20px" height="20px">
            <h3>SibiriskaKatten.se</h3>
        </a>
        <div class="navigation">
            <input type="checkbox" class="navigationSwitch" id="navInput">
            <label class="navDrop" for="navInput"></label>
            <div class="desktopNav">
                <a href="/">Hem</a>
                <a href="/uppfodarlista">Uppfödarlista</a>
                <label for="navInput">Hitta artiklar</label>
            </div>
            <nav>
                <div class="top">
                    <button class="back">
                        <svg xmlns="http://www.w3.org/2000/svg" height="30" viewBox="0 0 24 24" width="30"><path d="M14.71 15.88L10.83 12l3.88-3.88c.39-.39.39-1.02 0-1.41-.39-.39-1.02-.39-1.41 0L8.71 11.3c-.39.39-.39 1.02 0 1.41l4.59 4.59c.39.39 1.02.39 1.41 0 .38-.39.39-1.03 0-1.42z"></path></svg>
                    </button>
                    <span class="navHeader">Meny</span>
                    <div class="space"></div>
                </div>
                <div class="scrollable pages">
                    <div class="main visible" data-name="Meny">
                        <div class="routes list">
                            <h3>Sidor</h3>
                            <a href="/">Hem</a>
                            <a href="/uppfodarlista">Uppfödarlista</a>
                        </div>
                        <div class="categories list">
                            <h3>Kategorier</h3>
                            <% categories.forEach(category => { %>
                                <div class="row">
                                    <a href="/<%=category.link%>"><%=category.name%></a>
                                    <button data-id="<%=category._id%>"><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z"/></svg></button>
                                </div>
                            <% }) %>
                        </div>
                    </div>
                </div>
            </nav>
            <label class="navHamburger" for="navInput">
                <div class="hamburger"></div>
                <div class="hamburger-c"></div>
            </label>
    </header>
    <% if(typeof messages !== "undefined") { %>
        <%- include('../partials/informer', {messages: messages}); %>
    <% } %>
    <div class="container">
        <%- body %>
    </div>
    <template class="navRowTemplate">
        <div class="row">
            <a></a>
            <button><svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 0 24 24" width="24"><path d="M9.29 15.88L13.17 12 9.29 8.12c-.39-.39-.39-1.02 0-1.41.39-.39 1.02-.39 1.41 0l4.59 4.59c.39.39.39 1.02 0 1.41L10.7 17.3c-.39.39-1.02.39-1.41 0-.38-.39-.39-1.03 0-1.42z"/></svg></button>
        </div>
    </template>
    <script>const categories = <%-JSON.stringify(categories)%></script>
</html>