<form action="/search" method="get">
    <label class="input">
        <input value="<%=searchValue%>" aria-label="Sök efter artiklar" autocomplete="off" type="search" placeholder="&nbsp" name="query">
        <span>Sökord</span>
        <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="#fff" width="18px" height="18px"><path d="M0 0h24v24H0V0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27c1.2-1.4 1.82-3.31 1.48-5.34-.47-2.78-2.79-5-5.59-5.34-4.23-.52-7.79 3.04-7.27 7.27.34 2.8 2.56 5.12 5.34 5.59 2.03.34 3.94-.28 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>
        </button>
    </label>
</form>

<% if(searchValue.length < 3) { %>
    <h2>Ange ett längre sökord för att söka</h2>
    <svg xmlns="http://www.w3.org/2000/svg" fill="#ddd" enable-background="new 0 0 24 24" height="200" viewBox="0 0 24 24" width="200"><g><rect fill="none" height="24" width="24"/><rect fill="none" height="24" width="24"/></g><g><g/><g><path d="M21,6.3c0-0.79-0.47-1.51-1.19-1.83l-7-3.11c-0.52-0.23-1.11-0.23-1.62,0l-7,3.11C3.47,4.79,3,5.51,3,6.3V11 c0,5.55,3.84,10.74,9,12c2.3-0.56,4.33-1.9,5.88-3.71l-3.12-3.12c-1.94,1.29-4.58,1.07-6.29-0.64c-1.95-1.95-1.95-5.12,0-7.07 c1.95-1.95,5.12-1.95,7.07,0c1.71,1.71,1.92,4.35,0.64,6.29l2.9,2.9C20.29,15.69,21,13.38,21,11V6.3z"/><circle cx="12" cy="12" r="3"/></g></g></svg>
<% } else { %>
    <h2>Sökresultat</h2>

    <% if(searchedCategories.length > 0) { %>
        <h3>Kategorier</h3>
        <% searchedCategories.forEach(category => { %>
            <div class="category">
                <span><%=category.name%></span>
                <a href="/<%=category.link%>">Gå till kategori</a>
            </div>
        <% }); %>
    <% } %>

    <% if(searchedArticles.length > 0) { %>
        <h3>Artiklar</h3>
        <%- include('../partials/articlepreview', {articles: searchedArticles}); %>
    <% } else { %>
        <p>Hittade inga matchande artiklar</p>
    <% } %>

    <% if(searchedImages.length > 0) { %>
        <h3>Bilder</h3>
        <% searchedImages.forEach(image => { %>
            <img src="<%=productionUrl + image.compressed%>">
        <% }); %>
    <% } %>
<% } %>